body{
    background-image: url('https://img.freepik.com/free-photo/psychedelic-paper-shapes-with-copy-space_23-2149378246.jpg?w=996&t=st=1688122445~exp=1688123045~hmac=5458eb1c9e9c9600ff6da60e37cb3e9df33ea44b76d4e2743cea370bddc3f882');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}