table{
   border-color: dodgerblue;
   border-style: solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
   
}
#head{
    color: darkgreen;
}
#body{
    padding: 10px;
}